.main .m-container .in {
    display: flex;
    flex-direction: row-reverse;
}

aside {
    width: 415px;
    margin-left: 15px;
}

aside .box {
    width: 100%;
    margin-top: 60px;
    float: right;
    min-height: 400px;
    padding: 15px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .03);
    border: 1px solid #e4e4e4;
    display: flex;
    flex-direction: column;
}

aside .box .item {
    float: right;
    width: 100%;
    background-color: #f0f3f4;
    padding: 10px;
    margin-bottom: 15px;
}

aside .box .item:last-child {
    margin-bottom: 0;
}

aside .box .item h3 {
    font-size: 14px;
    margin: 0;
    font-weight: normal;
    line-height: 22px;
}

aside .box .item .pic {
    float: right;
    width: 90px;
    margin: 0 0 0 10px;
}

aside .box .item .pic img {}

aside .box .item-main {
    float: right;
    width: 100%;
    background-color: #f0f3f4;
    padding: 10px;
    margin-bottom: 15px;
}

aside .box .item-main:last-child {
    margin-bottom: 0;
}

aside .box .item-main h3 {
    float: right;
    width: 100%;
    font-size: 14px;
    margin: 15px 0 5px 0;
    font-weight: normal;
    line-height: 22px;
}

aside .box .item-main .pic {
    float: right;
    width: 100%;
    margin: 0 0 0 10px;
}


/* aside .box .item-main .pic img {} */

.blog-comment {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.blog {
    width: 100%;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-bottom: 15px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .03);
    border: 1px solid #e4e4e4;
}

.blog .pic {
    width: 100%;
}

.blog .pic img {}

.blog .head {
    display: flex;
    flex-direction: column;
    padding: 25px 0 15px 0;
}

.blog .head h1 {
    font-size: 20px;
}

.blog .head span {
    font-size: 12px;
}

.blog .share {
    border-top: 1px solid #cfcfcf;
    padding-top: 15px;
}

.important-text-1 {
    background-color: #FFECB3;
    width: 100%;
    float: right;
    margin: 7px 0;
    padding: 7px;
    border-right: 2px solid #F44336;
    color: #F44336;
}

.important-text-2 {
    background-color: #DCEDC8;
    width: 100%;
    float: right;
    margin: 7px 0;
    padding: 7px;
    border-right: 2px solid #43A047;
    color: #43A047;
}

.important-text-3 {
    background-color: #E1F5FE;
    width: 100%;
    float: right;
    margin: 7px 0;
    padding: 7px;
    border-right: 2px solid #2196F3;
    color: #2196F3;
}

.comments-box {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .03);
    border: 1px solid #e4e4e4;
}

.comments-box h3 {
    font-size: 20px;
}

.login-btn {
    background-color: #03A9F4;
    color: white !important;
    padding: 2px 15px;
    border-radius: 30px;
}

.comments-box {
    margin-bottom: 55px;
}

.comments-box form {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.comments-box form textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 15px;
}

.comments-box form button {
    padding: 5px 25px;
    border-radius: 30px;
    width: 120px;
    background-color: #03A9F4;
    border: none;
    color: #fff;
    font-weight: normal;
}

.comments-box .login-btn {
    padding: 5px 20px;
    text-align: center;
    background-color: #03A9F4;
    border: none;
    color: #fff !important;
    border-radius: 30px;
}


/*comments*/

.comments {
    min-height: 177px;
}

.comments .comment {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    margin-bottom: 15px;
}

.comments .comment:last-child {
    margin: 0;
}

.comments .comment header {
    float: right;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    border-bottom: 5px solid #ffcc00;
    background-color: #000000;
    color: white;
}

.comments .comment header .right {
    display: flex;
    flex-direction: column;
}

.comments .comment header .right .name {
    font-size: 14px;
    font-weight: bold;
}

.comments .comment header .right .who {
    font-size: 12px;
    color: #aaa;
}

.comments .comment header .left {
    width: 100px;
    display: flex;
    flex-direction: column;
}

.comments .comment header .left .rate-comment {
    display: flex;
    flex-direction: row-reverse;
}

.comments .comment header .left .rate-comment a {
    background-color: #e1e9ec;
    padding: 0 5px;
    margin-left: 20px;
    border-radius: 20px;
}

.comments .comment header .left .date {}

.comments .comment p {
    margin: 0;
    font-size: 13px;
    text-align: justify;
    color: #505050;
    padding: 10px;
    min-height: 83px;
}

.comments .rate-comment .like {
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    color: #808080;
    border: none;
    padding: 2px 0 0 0;
    font-size: 12px;
    margin-left: 10px;
    background-color: transparent;
}

.comments .rate-comment .like:hover {
    color: #4CAF50;
}

.comments .rate-comment i {
    cursor: pointer;
}

.comments .rate-comment .dislike {
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    color: #808080;
    border: none;
    padding: 2px 0 0 0;
    font-size: 12px;
    background-color: transparent;
}

.comments .rate-comment .dislike:hover {
    color: #F44336;
}

.comments .rate-comment .num {
    float: left;
    margin: 0;
    font-size: 14px;
    line-height: 23px;
    color: #808080;
}

.comments .date {
    float: left;
    width: 100%;
    font-size: 12px;
    color: #aaa;
    text-align: left;
    padding-left: 7px;
}

.pro-head {
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .03);
    border-bottom: 1px solid #e4e4e4;
}

.pro-head .in {
    width: 100%;
    float: right;
    cursor: default;
    /*margin: 10px 0 15px 0;*/
    padding: 30px 0 0 0;
    border-radius: 5px;
    /*background-color: white;*/
    /*box-shadow: 0 2px 4px 0 rgba(0,0,0,.03);*/
    /*border: 1px solid #e4e4e4;*/
    display: flex;
}

.pro-head .in .info h1 {
    font-size: 20px;
}

@media only screen and (max-width: 990px) {
    .main .m-container .in {
        flex-direction: column;
    }
    .comments-box {
        margin-bottom: 15px;
    }
    aside {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .comments .comment header .left .rate-comment a {
        margin-left: 7px;
    }
}