.info-and-gallery .in {
    width: 100%;
    display: flex;
    padding: 15px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .03);
    border: 1px solid #e4e4e4;
}

.info-and-gallery .gallery {
    width: 500px;
    padding-left: 30px;
}


/*.info-and-gallery .gallery img {*/


/*width: auto;*/


/*}*/

.carousel-fade .carousel-item img {
    border: 1px solid #ccc;
}

.carousel-inner {}

.carousel-indicators {
    margin: 0;
}

.carousel-indicators {
    position: relative;
    bottom: 0;
}

.carousel-indicators li {
    width: 20%;
    height: auto;
}

.carousel-indicators li img {
    float: right;
    width: 100%;
    display: block;
    border: 1px solid #ccc;
}

.info-and-gallery .main-info {
    width: calc(100% - 500px);
}

.info-and-gallery .main-info .breadcrumb {
    background-color: transparent;
    padding: 5px 0;
}

.info-and-gallery .main-info .breadcrumb a {
    font-size: 12px;
    color: #888888;
}

.info-and-gallery .main-info .breadcrumb a::after {
    content: '/';
    margin: 0 5px;
}

.info-and-gallery .main-info .breadcrumb a:last-child::after {
    content: '';
}

.info-and-gallery .main-info {
    position: relative;
}

.info-and-gallery .main-info h1 {
    font-size: 22px;
}

.star-rate {
    background-color: #fc0;
    color: black;
    padding: 2px 5px 1px 5px;
    border-radius: 4px;
    font-size: 12px;
}

.star-rate i {
    margin-left: 3px;
}

.info-and-gallery .main-info .share {
    position: absolute;
    left: 0;
    top: 10px;
    color: #222;
}

.info-and-gallery .main-info .share .list-of-social {
    transition: 0.25s;
    position: absolute;
    left: 0;
    bottom: -30px;
    display: none;
}

.info-and-gallery .main-info .share .list-of-social ul {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 5px;
    border: 1px solid #d0d7db;
    background-color: #eceff1;
    border-radius: 5px;
}

.info-and-gallery .main-info .share .list-of-social ul li {
    margin-right: 7px;
    float: left;
}

.info-and-gallery .main-info .share .list-of-social ul li:last-child {
    margin-right: 0;
}

.info-and-gallery .main-info .share .list-of-social ul li a {
    font-size: 18px;
    line-height: 35px;
    max-height: 30px;
    float: left;
}

.info-and-gallery .main-info .share:hover .list-of-social {
    display: block;
}

.info-and-gallery .main-info .share .list-of-social ul li a:hover {
    color: #fc0;
}

.info-and-gallery .main-info .short-info {
    display: flex;
    margin: 25px 0 35px 0;
}

.info-and-gallery .main-info .short-info span {
    width: 150px;
}

.info-and-gallery .main-info .short-info .items {
    font-size: 14px;
}

.info-and-gallery .main-info .short-info .items ul li {
    list-style: disc;
}

.more-info h3 {
    font-size: 16px;
}

.video-info .in {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    padding: 30px 15px 15px 15px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .03);
    border: 1px solid #e4e4e4;
}

.video-info .in .video-box {
    display: flex;
    justify-content: center;
}

.video-info .in .video-box video {
    width: 600px;
    margin-bottom: 30px;
}

.video-info .in h2 {
    font-size: 22px;
}

.nav-tabs .nav-link {
    border: none;
    position: relative;
    padding: 10px 1px;
    margin: 0 0 0 30px;
    font-size: 20px;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border: none;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border: none;
    background: transparent;
    font-weight: bold;
    color: #000;
}

.nav-tabs .nav-link.active::after {
    content: '';
    float: left;
    width: 100%;
    height: 2px;
    background-color: #000;
    position: absolute;
    right: 0;
    bottom: 0;
}

.product-information {
    margin: 30px 0;
}

.product-information .in {
    width: 100%;
    padding: 15px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .03);
    border: 1px solid #e4e4e4;
}

.product-information h3 {
    font-size: 18px;
    margin: 10px 0 30px 0;
}

.technical_specifications {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.technical_specifications .item {
    display: flex;
    flex-direction: row;
    padding: 5px 10px;
}

.technical_specifications .item:nth-child(odd) {
    background-color: #f5f6f7;
}

.technical_specifications .item span:first-child {
    margin-left: 10px;
    width: 200px;
}

.comments-tab {
    display: flex;
    flex-direction: column;
}

.comment-form {
    margin-bottom: 55px;
}

.comments-tab form {
    display: flex;
    flex-direction: column;
}

.rating {
    border: none;
    float: left;
    direction: ltr;
}

.rating>input {
    display: none;
}

.rating>label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: 'Font Awesome 5 Free';
    display: inline-block;
    content: "\f005";
}

.rating>.half:before {
    content: "\f089";
    position: absolute;
}

.rating>label {
    color: #ddd;
    float: right;
    margin-bottom: 0;
}


/***** CSS Magic to Highlight Stars on Hover *****/

.rating>input:checked~label,

/* show gold star when clicked */

.rating:not(:checked)>label:hover,

/* hover current star */

.rating:not(:checked)>label:hover~label {
    color: #FFD700;
}


/* hover previous stars in list */

.rating>input:checked+label:hover,

/* hover current star when changing rating */

.rating>input:checked~label:hover,
.rating>label:hover~input:checked~label,

/* lighten current selection */

.rating>input:checked~label:hover~label {
    color: #FFED85;
}

.comments-tab form textarea {
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    padding: 15px;
}

.comments-tab form button {
    padding: 5px 25px;
    width: 120px;
    background-color: #fc0;
    border: none;
    color: #000;
    font-weight: normal;
    border-radius: 0;
}

.comments-tab form button:hover {
    background-color: #000;
    color: #fff;
}

.comments-tab .login-btn {
    padding: 5px 20px;
    text-align: center;
    background-color: #fc0;
    border: none;
    color: #000 !important;
    border-radius: 0;
}

.comments-tab .login-btn:hover {
    background-color: #000;
    color: #fff;
}


/*comments*/

.comments {
    min-height: 177px;
}

.comments .comment {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    margin-bottom: 15px;
}

.comments .comment header {
    float: right;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    border-bottom: 5px solid #ffcc00;
    background-color: #000000;
    color: white;
}

.comments .comment header .right {
    display: flex;
    flex-direction: column;
}

.comments .comment header .right .name {
    font-size: 14px;
}

.comments .comment header .right .who {
    font-size: 12px;
    color: #aaa;
}

.comments .comment header .left {
    width: 100px;
    display: flex;
    flex-direction: column;
}

.comments .comment header .left .rate-comment {
    display: flex;
    flex-direction: row-reverse;
}

.comments .comment header .left .rate-comment a {
    background-color: #e1e9ec;
    padding: 0 5px;
    margin-left: 20px;
    border-radius: 20px;
}

.comments .comment header .left .date {}

.comments .comment p {
    margin: 0;
    font-size: 13px;
    text-align: justify;
    color: #505050;
    padding: 10px;
    min-height: 83px;
}

.comments .rate-comment .like {
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    color: #808080;
    border: none;
    padding: 2px 0 0 0;
    font-size: 12px;
    margin-left: 10px;
    background-color: transparent;
}

.comments .rate-comment .like:hover {
    color: #4CAF50;
}

.comments .rate-comment i {
    cursor: pointer;
}

.comments .rate-comment .dislike {
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    color: #808080;
    border: none;
    padding: 2px 0 0 0;
    font-size: 12px;
    background-color: transparent;
}

.comments .rate-comment .dislike:hover {
    color: #F44336;
}

.comments .rate-comment .num {
    float: left;
    margin: 0;
    font-size: 14px;
    line-height: 23px;
    color: #808080;
}

.comments .date {
    float: left;
    width: 100%;
    font-size: 12px;
    color: #aaa;
    text-align: left;
    padding-left: 7px;
}

@media only screen and (max-width: 1200px) {
    .info-and-gallery .gallery {
        width: 450px;
    }
    .info-and-gallery .main-info .buttons {
        padding-right: 0;
    }
}

@media only screen and (max-width: 990px) {
    .main {
        padding-top: 135px;
    }
    .info-and-gallery .main-info {
        position: inherit;
    }
    .info-and-gallery .main-info .absolute-mobile {
        width: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 100px;
        right: 0;
    }
    .info-and-gallery .main-info .absolute-mobile .box {
        width: 719px;
        position: relative;
    }
    .info-and-gallery .in {
        flex-direction: column;
        align-items: center;
    }
    .info-and-gallery .gallery {
        padding: 0;
    }
    .info-and-gallery .gallery .carousel-indicators {
        padding-right: 0;
    }
    .info-and-gallery .main-info {
        width: 100%;
        padding: 15px;
    }
}

@media only screen and (max-width: 768px) {
    .info-and-gallery .main-info h1 {
        text-align: center;
    }
    .info-and-gallery .main-info h2 {
        text-align: center;
        font-size: 12px;
    }
    .info-and-gallery .main-info .absolute-mobile {
        padding: 0 15px;
    }
    .info-and-gallery .main-info .absolute-mobile .box {
        width: 100%
    }
    .info-and-gallery .main-info {
        padding: 15px 0;
    }
    .info-and-gallery .main-info .short-info {
        flex-direction: column;
    }
    .info-and-gallery .main-info .short-info span {
        width: 100%;
        margin-bottom: 10px;
    }
    .info-and-gallery .main-info .short-info .items {
        padding-right: 30px;
    }
    .info-and-gallery .main-info .color span,
    .info-and-gallery .main-info .size span,
    .info-and-gallery .main-info .price .title {
        width: 70px;
    }
    .info-and-gallery .gallery {
        width: 100%;
    }
    .comments .comment header .left .rate-comment a {
        margin-left: 7px;
    }
    .video-info .in .video-box video {
        width: 100%;
    }
}